<div class="container">
    <br>
    <div class="row">
        <div class="input-field col s12 m10 m8">
            <input id="txtSpaceName" ng-model="spaceName" type="text" class="validate" required/>
            <label for="txtSpaceName">Space Name</label>
        </div>
        <div class="input-field col s12 m10 m8">
            <input id="txtSpaceId" ng-model="spaceID" type="text" class="validate" />
            <label for="txtSpaceName">Space ID</label>
        </div>
        <div class="input-field col s12 m10 m8">
            <input id="txtMgmntTkn" ng-model="mgmntToken" type="text" class="validate" />
            <label for="txtSpaceName">Management Token</label>
        </div>
        <div class="input-field col s12 m10 m8">
            <input id="btnSave" class="waves-effect waves-light btn" type="button" value="Save" ng-click="saveConfigurations()" />
            <input id="btnReset" class="waves-effect waves-light btn" type="button" value="Reset" ng-click="resetValues()" />
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="responsive-table bordered" data-ng-if="spaces.length>0">
                <tr class="teal-text grey lighten-3">
                    <th>Space Name</th>
                    <th>Space ID</th>
                    <th>Management Token</th>
                    <th colspan="2">Edit/Delete</th>
                </tr>
                <tr ng-repeat="space in spaces track by $index">
                    <td><span class="dont-break-out " ng-model="space.space">{{space.space}}</span></td>
                    <td><span class="dont-break-out" ng-model="space.value">{{space.value}}</span></td>
                    <td><span class="dont-break-out" ng-model="space.token">{{space.token}}</span></td>
                    <td colspan="2">
                        <button id="btnEdit" class="waves-effect waves-light btn-floating" value="Edit" ng-click='editValues(space.value,space.space,space.token)'><i class="material-icons">mode_edit</i></button>
                        <button id="btnDelete" class="waves-effect waves-light btn-floating red accent-2" value="Delete" ng-click='deleteSpace(space.value)'><i class="material-icons">delete</i> </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>