<div>
    <div class="row">
        <div class="col s6 m4 offset-m2">
            <div class="card-small white-text z-depth-2">
                <div class="card-content teal lighten-2">
                    <div class="container">
                        <p class="card-title white-text">Total entries</p>
                        <h5>100
                            <span class="teal-text">.</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m4">
            <div class="card-small white-text z-depth-2">
                <div class="card-content cyan darken-2">
                    <div class="container">
                        <p class="card-title white-text">Selected</p>
                        <h5>100
                            <span class="teal-text">.</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>