<div>
    <div class="container">
      <h4 class="header center">One stop solution for Content Management</h4>
       
        <div class="row center">
            <a href="#/migrate" id="download-button" class="btn-large waves-effect waves-light red accent-2">Start me!</a>
        </div>
        <br><br>
        <div class="row">
            <div class="card-panel hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">input</i></h2>
                    <h5 class="center">Fast developement</h5>
                    <p class="light">No manual downloading, copying and pasting of data now.<ol><li>Direct space to space movement makes its faster.</li><li>Asset migration from one space to another in just 3 steps.</li><li>Lesser manual intervention.</li></ol>
                    </p>
                </div>
            </div>
            <div class="card-panel hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
                    <h5 class="center">A2A Migration</h5>
                    <p class="light">Asset can be migrated from any to any.<ol><li>Asset cab ne migrated from any to any space.</li><li>Data can be migrated to any to any System.</li></ol>
                    </p>
                </div>
            </div>
            <div class="card-panel hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings_input_antenna</i></h2>
                    <h5 class="center">Independent service</h5>
                    <p class="light">One can transfer data from Contentful, Crownpeak, Kaltura etc to Contentful.<ol><li>Can be used in any project with any technology.</li><li> This would prove useful during the time of migration from one CMS to another.</li></ol>
                    
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!--parallax-->
    <div class="parallax-container">
      
        <div class="parallax"><img src="../images/bgimg.PNG"></div>
    </div>
    <div class="divider"></div>
<!--feed back cards panel-->
<div class="container">
    <div class="center">
        <h4>Feedback</h4>
        <a class="waves-effect waves-light btn-floating"><i class="material-icons left">add</i>button</a>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                     
                        <img src="../images/person_1.jpg" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                        <span class="black-text">
                This Utility can save developer's time and would be useful for webmasters as well !!
              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="../images/person_1.jpg" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                        <span class="black-text">
                Clean design and lesser prone to error. This can definitely ease the pain of asset migration.
              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="../images/person_1.jpg" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                        <span class="black-text">
               Definitely a one stop solution for asset migration !!
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="divider"></div>
    <!--team cards panel-->
    <div class="container">
        <div class="center">
            <h4>Our Team</h4>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image small">
                        <img class="responsive-img" src="images/person_1.jpg">
                        <span class="card-title">Vivek Malik</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="responsive-img" src="images/person_2.png">
                        <span class="card-title">Swati Kurra</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image small responsive-img">
                        <img class="responsive-img" src="images/person_3.png">
                        <span class="card-title">Ashutosh Sharma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
</div>