<div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/home.jpg"></div>
    </div>
    <div class="container">
            <h4 class="header center" style="font-weight: normal;">One stop solution for Asset Management</h4>
            <div class="row center">
                <a href="#/migrate" id="download-button" class="btn-large waves-effect waves-light red accent-2">Start migrating!</a>
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons medium">query_builder</i></h2>
                    <h5 class="center">Fast development</h5>
                    <p class="light">No manual downloading, copying and pasting of data now.
                        <ol>
                            <li>Direct space to space movement makes its faster.</li>
                            <li>Asset migration from one space to another in simple steps.</li>
                            <li>Lesser manual intervention.</li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons medium">perm_identity</i></h2>
                    <h5 class="center">A2A Migration</h5>
                    <p class="light">Asset can be migrated from any source to any destination space.
                        <ol>
                            <li>Assets can be migrated from any space to any space</li>
                            <li>Assets can be migrated from any system to destination space.</li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons medium">settings_input_antenna</i></h2>
                    <h5 class="center">Independent service</h5>
                    <p class="light">One can transfer data from Contentful, Crownpeak, Kaltura etc to Contentful.
                        <ol>
                            <li>Can be used in any project with any technology.</li>
                            <li> This would prove useful during the time of migration from one CMS to another.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!--parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="images/banner.jpg"></div>
    </div>
    <div class="divider"></div>
    <!--feed back cards panel-->
    <div class="container">
        <div class="center">
            <h4>Feedback</h4>
            <!--    <a class="waves-effect waves-light btn-floating"><i class="material-icons left">add</i>button</a>  -->
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="grey lighten-5">
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img src="images/person_1.jpg" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s8">
                            <span class="black-text">
                Saves developer's time and would be useful for webmasters as well! This was the need of the hour.
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="grey lighten-5">
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img src="images/person_2.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s8">
                            <span class="black-text">
                Clean design and lesser prone to error. This can definitely ease the pain of asset migration.
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="grey lighten-5">
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img src="images/person_3.png" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s8">
                            <span class="black-text">
               Definitely a one stop solution for asset migration. Fantastic User Experience! Thumps Up!
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
</div>