<div>
    <div class="container">
        <h3 class="header center">Contentful Manager</h3>
        <div class="row center">
            <a href="#/migrate" id="download-button" class="btn-large waves-effect waves-light red accent-2">Start me!</a>
        </div>
        <br><br>
        <div class="row">
            <div class="card-panel hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">input</i></h2>
                    <h5 class="center">Fast developement</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus ultricies leo, in mattis diam
                        molestie malesuada. Nullam tortor arcu, mollis vitae scelerisque in, dignissim eget augue. Praesent
                        mattis ac dolor vel finibus. Duis tristique bibendum ante, non imperdiet dui aliquet sed.
                    </p>
                </div>
            </div>
            <div class="card-panel hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
                    <h5 class="center">A2A Migration</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus ultricies leo, in mattis diam
                        molestie malesuada. Nullam tortor arcu, mollis vitae scelerisque in, dignissim eget augue. Praesent
                        mattis ac dolor vel finibus. Duis tristique bibendum ante, non imperdiet dui aliquet sed.
                    </p>
                </div>
            </div>
            <div class="card-panel hoverable col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings_input_antenna</i></h2>
                    <h5 class="center">Independent service</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus ultricies leo, in mattis diam
                        molestie malesuada. Nullam tortor arcu, mollis vitae scelerisque in, dignissim eget augue. Praesent
                        mattis ac dolor vel finibus. Duis tristique bibendum ante, non imperdiet dui aliquet sed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!--parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="http://all4desktop.com/data_images/original/4237670-images.jpg"></div>
    </div>
    <div class="divider"></div>
    <!--team cards panel-->
    <div class="container">
        <div class="center">
            <h4>Our Team</h4>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image small">
                        <img src="images/person_1.jpg">
                        <span class="card-title">Vivek Malik</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/person_2.jpg">
                        <span class="card-title">Swati Kurra</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image small responsive-img">
                        <img src="images/person_3.png">
                        <span class="card-title">Ashutosh Sharma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<!--feed back cards panel-->
<div class="container">
    <div class="center">
        <h4>Feedback</h4>
        <a class="waves-effect waves-light btn-floating"><i class="material-icons left">add</i>button</a>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="http://placehold.it/500X500" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                        <span class="black-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="http://placehold.it/500X500" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                        <span class="black-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="http://placehold.it/500X500" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s8">
                        <span class="black-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
</div>